body{
  /* font-family: "Ubuntu", sans-serif; */
  background-color: #000;
  color: #FFF;
}

.card-stack-img{
  height: 300px;
  width: 550px;
}
.card{
  background-color: black;
  border-color: #FF0000;
}
.abtTitle{
  text-align: center;

}
/* Sections */

/* .sections{
  padding: %;
} */

/* Get-ready section */
.get-ready{
  text-align: left;
  background-size: cover;

}
.card:hover{
  filter: grayscale(1);

}
.Goal{
  text-align: center;
}
.OurP{
  text-align: center;
}

.card-img{
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
}
.media:hover{

  background-color:#FF0000;

}
.left{
  position: absolute;
  top:10%;
  left:6%
}
.jumbotron{
  background-color:#990000;
}


.teamh2{
  text-align: center;
}
/* Headings */

/* Containers */

/* .container-fluid{
  padding: 7% 7%;
} */

/* Navbar */

.fa-bars{
  color: #FF0000;
  font-size:28px;
}

.navigation-colour{
  color: #FF0000;
}


/* Title Section */

.title {
  text-align: center;
}

.body-content .container-fluid{
  padding: 14.5%;

}

/* Testimonials */

.testimonials {
  text-align: center;
  padding: 10%;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
  margin: 20px;
}

.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

/* Rules Page */

.card-rules{
  height: 300px;
  width: 300px;
}

.card-rounds{
  height: 300px;
  width: 300px;
}

.winning-card{
  height: 300px;
  width: 300px;
}

.additional-card-rules{
  height: 150px;
  width: 300px;
}

.body-content-2{
    padding: 14.5%;
}

.big-heading-2{
  text-align: center;
  font-size: 50px;

}

.body-content .power-scaling{
  text-align: center;
  padding: 5%;

}

.card-cycle{
  height: 250px;
  width: 250px;
}

/* About Us Page */



.team{
  padding: 14.5%;
}

.display-img{
  height: 96px;
  width: 96px;
}



/* Contact Page */

.contact{
  padding: 10%;
}

/* Submission Received Page */

.received{
  padding: 20%;
}

/* Footer */

.footer {
  background-color: #343a40;
  color: #FF0000;
  text-align: center;
  padding: 1%;
}

.footer-icon {
  padding: 20px 10px;
  color: #FF0000;
}
.btn-lg{
  position: relative;
  left:25%;
  width: 50%;
  background: #FF0000;
  border-radius: 60px;

  background-color: #FF0000;
  color: white;
}
.safeTitle{
  text-align: center;
  color: grey;
}
h2{
  text-align: center;
}
h5{
  text-align: center;
  color: grey;
}
.Player-protection{
  background-color: white;
}
.p{
  text-align: center;
  color: grey;
}
hr{
background-color: white;
}
h4{
  text-align:center; 

}
